@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family:'Roboto Condensed';
    margin: 0;
    padding: 0;

}

body{
    background-image: linear-gradient(to bottom right, #b31d1d 10%, #0c0c16 80%)  ;
    background-repeat: no-repeat;
    height: 60em;
}
nav ul{
    list-style: none;
    background-color: #d11313;
    text-align: center;
    height: 40px;
    padding: 30px;
}
nav li{
    display: inline;
    margin: 10px;
    
}

#cima li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    
}
.titulo{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    

}

.palestrantes{
    display: flex;
    align-items: center;
    margin: 200px ;
    padding: 90px 200px;
    height: 3em;
    width: 2em;
    background-image: linear-gradient(to bottom right, #d11313 10%, #0c0c16 80%);
    background-repeat: no-repeat;
    justify-content: center;
    
}
.tipo{
    color: #ffffff;
}